<p id="notice"><%= notice %></p>

<h1>Tweetts</h1>

<table>
  <thead>
    <tr>
      <th>Tweett</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweetts.each do |tweett| %>
      <tr>
        <td><%= tweett.tweett %></td>
        <td><%= link_to 'Show', tweett %></td>
        <td><%= link_to 'Edit', edit_tweett_path(tweett) %></td>
        <td><%= link_to 'Destroy', tweett, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweett', new_tweett_path %>
